<h1> Template Approach</h1>

<ng-template #leafView let-data="data" let-path="leafPath" >
  <carousel >

    <div class="carousel-cell" *ngFor="let item of data">
      <img [src]="'assets/images/'+path+'/'+item.screen">
  </div>
  </carousel>


</ng-template>

  <ng-template #treeView let-data="data" let-path="path" >
   
    <mat-tab-group>
    <mat-tab  *ngFor="let item of data" label="{{item.name}}">
     
      <div *ngIf="item[this.key]?.length > 0 && item[this.key][0]['name'];else elseBlock">
     
        <ng-container
        
        *ngTemplateOutlet="treeView;   context:{ data: item[this.key] , path:path.concat(item.name)} ">
      </ng-container>
     
      </div>
      <ng-template #elseBlock>
      <ng-container  *ngTemplateOutlet="leafView;   context:{ data: item[this.key] ,leafPath:path.concat(item.name).join('/')} " >

      </ng-container>
     </ng-template>
    </mat-tab >
  </mat-tab-group>
  </ng-template>
  <ng-container *ngTemplateOutlet="treeView; context:{ data: data,path:this.pathStack} "></ng-container>
  <h1> Component Approach</h1>
  
  <tree-view [data]="data" [key]="this.key" [path]="pathStack"></tree-view>

  <h1> Stack Service Approach</h1>
  <tree-view-stack [data]="data" [key]="this.key" [path]="pathStack"></tree-view-stack>