<ng-template #leafView  let-data="data" let-path="leafPath" >
 

 
  <carousel >
   
    <div class="carousel-cell" *ngFor="let item of data">
      <img [src]="'assets/images/'+path+'/'+item.screen">
  </div>
  </carousel>

</ng-template>

<mat-tab-group>
  <mat-tab  *ngFor="let item of this.items" label="{{item.name}}">
   
    <div *ngIf="item[this.key]?.length > 0 && item[this.key][0]['name'];else elseBlock">
   
    <tree-view *ngIf="item[this.key]?.length" [key]="this.key" [data]="item[this.key]" [path]="this.path.concat(item.name)"></tree-view>
    
    </div>
    <ng-template #elseBlock>
      <ng-container  *ngTemplateOutlet="leafView;   context:{ data: item[this.key] ,leafPath:this.path.concat(item.name).join('/')} " >
      </ng-container>
  </ng-template>
   
  </mat-tab >
</mat-tab-group>