
<mat-tab-group>
  <mat-tab  *ngFor="let item of this.items" label="{{item.name}}">
   
    <div *ngIf="item[this.key]?.length > 0 && item[this.key][0]['name'];else elseBlock">
   
    <tree-view-stack *ngIf="item[this.key]?.length" [key]="this.key" [data]="item[this.key]" [path]="item.name"></tree-view-stack>
    
    </div>
    <ng-template #elseBlock>
     <tree-leaf-stack [data]="item[this.key]" [key]="this.key" [path]="item.name">

     </tree-leaf-stack>
   
  </ng-template>
   
  </mat-tab >
</mat-tab-group>
